In [97]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser

In [98]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.mars_db
collection = db.articles

In [99]:

url = 'https://mars.nasa.gov/news'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'lxml')

In [100]:
# print(soup.prettify())

In [101]:
titles=soup.find_all("div", class_="content_title")
for title in titles:
    print(title.a.text)

Opportunity Hunkers Down During Dust Storm


NASA Finds Ancient Organic Material, Mysterious Methane on Mars


NASA Invests in Visionary Technology


NASA is Ready to Study the Heart of Mars


NASA Briefing on First Mission to Study Mars Interior


New 'AR' Mobile App Features 3-D NASA Spacecraft

In [102]:
paragraphs=soup.find_all("div", class_="rollover_description_inner")
for paragraph in paragraphs:
    print(paragraph.text)

It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home.


NASA’s Curiosity rover has found evidence on Mars with implications for NASA’s search for life.


NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.


NASA is about to go on a journey to study the center of Mars.


NASA’s next mission to Mars will be the topic of a media briefing Thursday, March 29, at JPL. The briefing will air live on NASA Television and the agency’s website.


NASA spacecraft travel to far-off destinations in space, but a new mobile app produced by NASA's Jet Propulsion Laboratory, Pasadena, California, brings spacecraft to users.

In [103]:
featured_mars_image=Browser("chrome", headless=False)
mars_url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
featured_mars_image.visit(mars_url)

In [104]:
mars_images_html = featured_mars_image.html
mars_soup = BeautifulSoup(mars_images_html, 'html.parser')

In [105]:
mars_url=mars_soup.find_all("div", class_="carousel_items")
# print(mars_url)

In [106]:
import re

# text = 'gfgfdAAA1234ZZZuijjk'

# m = re.search('AAA(.+?)ZZZ', text)
# if m:
#     found = m.group(1)

for x in mars_url:
    article=x.find("article")
    # print(image)
    image=article.get("style")
    print(image)
    url_only=re.search("'(.+?)'", image)
    if url_only:
        found = url_only.group(1)
        print(found)

background-image: url('/spaceimages/images/wallpaper/PIA18906-1920x1200.jpg');
/spaceimages/images/wallpaper/PIA18906-1920x1200.jpg

In [107]:
featured_image_url=f"https://www.jpl.nasa.gov{found}"
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18906-1920x1200.jpg

In [108]:

url = "https://twitter.com/marswxreport?lang=en"

response = requests.get(url)

soup = BeautifulSoup(response.text, 'lxml')

In [138]:
tweets=soup.find_all("div", class_="js-tweet-text-container")
tweet_list=[]
for tweet in tweets:
    mars_weather=tweet.p.text
    tweet_list.append(mars_weather)
# print(tweet_list)
first_tweet=tweet_list[0]
print(first_tweet)
element=first_tweet[0]
print(element)

And finally - a stack of all the images - you can see so much detail here https://dougellison.smugmug.com/Machines/Space-X-SAOCOM-1A/i-zbJzq8L …pic.twitter.com/9nLwAH3oZQ
A

In [143]:
first_word=["sol"]
mars_weather = [x for x in tweet_list if (x[0]=="S" and x[1]=="o" and x[2]=="l")]
for weather_tweet in mars_weather:
    print(weather_tweet)

Sol 2171 (2018-09-14), high -12C/10F, low -65C/-84F, pressure at 8.79 hPa, daylight 05:43-17:59
Sol 2170 (2018-09-13), high -12C/10F, low -68C/-90F, pressure at 8.86 hPa, daylight 05:42-17:59
Sol 2169 (2018-09-12), high -10C/14F, low -70C/-93F, pressure at 8.82 hPa, daylight 05:41-17:58
Sol 2168 (2018-09-11), high -13C/8F, low -69C/-92F, pressure at 8.99 hPa, daylight 05:41-17:57
Sol 2167 (2018-09-10), high -12C/10F, low -73C/-99F, pressure at 8.85 hPa, daylight 05:40-17:57
Sol 2166 (2018-09-09), high -10C/14F, low -72C/-97F, pressure at 8.87 hPa, daylight 05:40-17:56
Sol 2165 (2018-09-08), high -10C/14F, low -70C/-93F, pressure at 8.87 hPa, daylight 05:39-17:55
Sol 2164 (2018-09-07), high -8C/17F, low -68C/-90F, pressure at 8.86 hPa, daylight 05:39-17:55
Sol 2163 (2018-09-06), high -5C/23F, low -70C/-93F, pressure at 8.86 hPa, daylight 05:38-17:54

In [144]:

url = "https://space-facts.com/mars/"

response = requests.get(url)

soup = BeautifulSoup(response.text, 'lxml')

In [164]:
import pandas as pd
facts=soup.find("tbody")
table_rows=facts.find_all("tr")

l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
mars_table=pd.DataFrame(l, columns=["Category","Statistic"])
mars_table

                Category                      Statistic
0   Equatorial Diameter:                     6,792 km\n
1        Polar Diameter:                     6,752 km\n
2                  Mass:  6.42 x 10^23 kg (10.7% Earth)
3                 Moons:            2 (Phobos & Deimos)
4        Orbit Distance:       227,943,824 km (1.52 AU)
5          Orbit Period:         687 days (1.9 years)\n
6  Surface Temperature:                   -153 to 20 °C
7          First Record:              2nd millennium BC
8           Recorded By:           Egyptian astronomers

In [168]:
mars_html_table=mars_table.to_html()
print(mars_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Category</th>
      <th>Statistic</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km\n</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km\n</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)\n</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>